
body{
  background-color:#2e2e2e;
}
.forme-text {
  padding: 30px;
  background-color:#feb8e3;
  color: #2e2e2e;
  border: 1px solid #000000;
  border-radius: 2cqw;
  padding: 10px; 
  font-size: 16px; 
  position: absolute; 
  top: 0;
  left: 0;
  margin-top: 5%;
  max-width: 100%;
  height: 30vh;
  overflow-y:scroll !important;
}


.edit-mode{
  background-color: #151515;
  width: 500px;
  height: 500px;
}
.edit-input[type="text"]{
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ff80d9;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #000000;
  color: #ffa7c4;
}
.edit-textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #ff80d9;
  border-radius: 4px;
  background-color: #070707;
  resize: none;
  color: #ffa7c4;
}
.save-button{
  background-color: #ffa7c4;
}
.reaction-buttons{
  position: relative;
  top: 10%;
  left: 10%;
  bottom: 10px;
  display: flex;
  align-items:center;  
  gap: 15px; 
}
.reaction-buttons button {
  background-color:transparent;   
  border: 1px solid transparent;
  border-radius: 30px;       
  padding: 10px 20px;          
  display: flex;
  align-items: center;         
  gap: 8px;                   
  cursor: pointer;             
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.reaction-buttons button:hover {
  background-color: transparent;
  transform: translateY(-2px);
}

.reaction-buttons button:active {
  transform: translateY(1px);
}

.reaction-buttons button svg {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.reaction-buttons button:hover svg {
  transform: scale(1.2);
}
.pdf-class {
  position: relative !important;

  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: transparent;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 150px; 
  cursor: pointer; 
}


.pdf-class:hover {
  background-color:transparent;
  transform: translateY(-3px); 
}

.pdf-class:active {
  transform: translateY(1px);
}

.pdf-class button svg {
  font-size: 20px;
  transition: transform 0.3s ease;
}


.pdf-class button:hover svg {
  transform: scale(1.2);
}
.buttoms{

  display: flex;
  position: absolute;
  left: 2%;
  top: 40%;
  
}

.buttoms button {
  background-color:transparent;   
  border: 1px solid transparent;     
  border-radius: 30px;        
  padding: 10px;        
  display: flex;
  align-items: center;         
  gap: 8px;                   
  cursor: pointer;             
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  
}

.buttoms button:hover {
  background-color: transparent;
  transform: translateY(-2px);
}

.buttoms button:active {
  transform: translateY(1px);
}

.buttoms button svg {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.buttoms button:hover svg {
  transform: scale(1.2);
}
.cmentaire {
position: absolute !important;
left:1%; 
top: 60%;
height: auto;
width: auto;
color: #ffa7c4;
margin-top: -4%;
}
.cmentaire div:nth-last-of-type(1){

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 20px;
}
.input-2[type="text"]{
  background-color: #ffa7c4;
  color: #2e2e2e;
  padding: 10px;
  position: absolute;
  &&::placeholder{
    color: rgb(0, 0, 0);
  }
  width: 200px;
  
}
.addc{
  position: absolute;
  right: -190px; 
  margin-top: 25%;
  background-color: transparent;
  margin-top: -2%;
}
.returnc{
  position: absolute;
  right: 2px; 
  margin-top: 50%;
  background-color: transparent;
  margin-top: 10%;
}