body{
  overflow-x: hidden;
  background-color:#2e2e2e;

}

.home{
  position: absolute;
  top: 0;
}

.dev {
  background-image: url("image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: relative;

  filter: brightness(1.5); 
  image-rendering: crisp-edges; /* Idéal pour les images pixelisées */
  /* display: grid; */
  /* grid-template-columns: repeat(2, 1fr);  */
  /* gap: 80px; */
  /* align-items: stretch; */
  justify-content: center;
  /* max-width: 100%; */
  /* margin: 0 auto; */
  padding: 0 10px
}

.dev h1{
  color:   hsl(321, 100%, 72%);
  position: absolute;
  top: 30%;
  left: 40%;
}


.dev .inputt{
  width: 30%;
  border: 1px solid #ddd;
  position: absolute;
  top:40%;
  margin-left: 33%;
  padding: 15px;
  border-radius: 10px;
  &&::placeholder{
    color: rgb(255, 255, 255);
  }
  background-color: hsl(321, 100%, 72%);
  color: #ffb9f5;
}


.footer{
  position: relative !important;
  background-Color: #373737;
  color: #fff;
  text-Align: center;
  padding: 10%;
  /* bottom: -80%; */
  /* margin-Top: 100vh ; */
  border-Top: 2px solid #f19ad3;
  width:100vw;
  height: 400px;
  margin-top: 100px;

}
.linke{
  position: relative;
  margin-top: 5%;
  /* color: #ff39c7; */
}
.programmed{
  position: relative;
  /* margin-top: -20px; */
  color: #ff9dd9;
  /* right: %; */
}
.articlesSection{
  position: relative !important;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 10px;
  width: 100vw;
  height: auto !important;
 
  display: flex !important;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap !important;
  
}
 .articlesSection .articles {
  position: relative;
  padding: 10px;      /* Use pixels for padding instead of percentage for consistent spacing */
  border-radius: 8px;  /* Increased border-radius for a softer look */
  border-top: 2px solid #ff6fe7;
  width: 40%;        /* Corrected width from 30px to 300px for better visibility */
  height: 300px;        
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Added a light shadow for depth */
  background-color: #373737;  /* Added background color for contrast */
  transition: transform 0.3s ease;  /* Smooth hover effect */
  overflow: hidden;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr);  */
  gap: 80px;
  color: #ff57bf;
  margin: 5px;
  /* justify-content: center; */
  margin-top: 3%;
 
}

.articles:hover {
  transform: translateY(-5px);  
  cursor: pointer !important;

}

.textee{
  color: #ffa7ec;
  position: relative;
  /* padding: 50px; */
  left: 10px;
  text-align: start;
  font-size: 18px;        
  line-height: 1.6;      
  margin: -10px 0;        
  border-radius: 8px;   
  font-weight: bold; 
  padding: 0px 0px; 
  
}
.Voir-plus{
  padding: 3px 0px;
  color: #ffa7ec;
  position: relative; 
  margin: -19px 0; 
}
.texte22{
  color: #ffa7ec;
  position: relative;
  padding: 6px;
  text-align: center;
  
}